@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;600;700;800&family=Merriweather:wght@400;700;900&display=swap');
/* Common Styles */
*{
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    font-family: 'Merriweather', serif;
}
.container{
    width: 82.5%;
    max-width: 1320px;
    margin: 0 auto;
}
p{
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
}

/* Header Styles */

/* Banner Styles */

.banner .b-bg{
    background-image: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url("../resources/Banner Image.png");
    border-radius: 16px;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 130px 0;
    margin: 50px auto;
}
.banner .banner-heading h3{
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 26px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.banner .banner-heading h2{
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 62px;
    font-style: normal;
    font-weight: 900;
    line-height: 95px; /* 131.944% */
}

/* Main Styles */

/* Offer Styles */
.offer{
    padding: 120px 0;
}
.offer .offer-des h1{
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 88px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 48px;
}
.offer .offer-des h4{
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 10px;
}
.offer .offer-des h2{
    color: #070211;
    text-align: center;
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 48px;
}
.offer-img{
    display: flex;
    justify-content: center;
}

/* Party Styles */
.party .p-bg{
    background-image: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url("../resources/Vectorrr.png");
    border-radius: 10px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.party .party-content{
    display: flex;
    margin: 120px auto;
    justify-content: space-around;
}
.party .party-heading{
    padding-left: 9.55%;
}
.party .party-heading h3{
    color: #FFF;
    font-family: Merriweather;
    font-size: 52px;
    font-style: normal;
    font-weight: 900;
    letter-spacing: 7.04px;
    width: 87.21%;
    margin-bottom: 24px;
    padding-top: 128px;
    padding-right: 4.16%;
}
.party .party-heading p{
    color: rgba(255, 255, 255, 0.80);
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    width: 94.68%;
    
    padding-bottom: 38px;
}
.party .party-heading button{
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    background: transparent;
    border: none;
    margin-bottom: 100px;
    padding-left: 3.18%;
}
.party .party-img{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}
.party .party-img img{
    width: 250px;
    padding-right: 138px;
}

/* Details Styles*/
.details{
    background: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
    margin-bottom: 120px;
}
.details .detail-des{
    text-align: center;
    align-items: center;
    padding: 100px 0 214px 0;
}
.details .detail-des h4{
    color: #070211;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    text-transform: capitalize;
    margin-bottom: 15px;
}
.details .detail-des .imp{
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    text-transform: capitalize;
}
.details .detail-des button{
    display: inline-flex;
    padding: 16px 32px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    border: none;
    background: #F00;
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 48px;
}

/* Best Offer Design */
.best-offer{
    margin-bottom: 120px;
    display: flex;
}
.best-offer .b-offer-content{
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: static;
}

.best-offer .b-offer-content .b-offer-des h4{
    color: #F00;
    font-family: Inter;
    font-size: 20px;
    font-weight: 500;
}
.best-offer .b-offer-content .b-offer-des h2{
    color: #070211;
    font-family: Merriweather;
    font-size: 44px;
    font-weight: 900;
    width: 375px;
    text-transform: capitalize;
    margin-bottom: 22px;
}
.best-offer .b-offer-time h2{
    color: #F00;
    font-family: Inter;
    font-size: 44px;
    font-weight: 700;
    margin-bottom: 10px;
}
.best-offer .b-offer-content .b-offer-img{
    border: #F00 10px solid;
    border-radius: 50%;
    background: #FFF;
    padding: 25px;
}
.best-offer .b-offer-content .b-offer-img img{
    width: 300px;
    object-fit: cover;
    display: block;
}
.best-offer .b-offer-time img{
    margin-top: 43px;
}
.best-offer .b-offer-time{
    padding-top: 150px;
    padding-left: 110px;
    width: 100%;
}
.b-offer-content .b-offer-des{
    padding-right: 60px;
    width: 100%;
}